<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit pal!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">

    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="nav-link" href="{{ url_for('welcome') }}">
                <img src=../static/button_images/logo.png width="75px" height="75px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link scroll-link" href="{{ url_for('home') }}">
                            <img src=../static/button_images/home1.png width="150px" height="37.5px"
                                onmouseover="this.src='../static/button_images/home2.png';"
                                onmouseout="this.src='../static/button_images/home1.png';" />
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link scroll-link" href="{{ url_for('myaccount') }}">
                            <img src=../static/button_images/myaccount1.png width="150px" height="37.5px"
                                onmouseover="this.src='../static/button_images/myaccount2.png';"
                                onmouseout="this.src='../static/button_images/myaccount1.png';" />
                        </a>
                    <li class="nav-item active">
                        <a class="nav-link scroll-link" href="{{ url_for('store') }}">
                            <img src=../static/button_images/shop1.png width="150px" height="37.5px"
                                onmouseover="this.src='../static/button_images/shop2.png';"
                                onmouseout="this.src='../static/button_images/shop1.png';" />
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link scroll-link" href="{{ url_for('about') }}">
                            <img src=../static/button_images/about1.png width="150px" height="37.5px"
                                onmouseover="this.src='../static/button_images/about2.png';"
                                onmouseout="this.src='../static/button_images/about1.png';" />
                        </a>
                    </li>
                </ul>
                <a href="{{ url_for('logout') }}" class="signout btn btn-dark">Sign Out</a>

            </div>
        </nav>
        <center>
            <br><br>
            <h1>
                Welcome to HabitPal.com!
            </h1>
            <br><br>
            <div class="col-11 col-sm-11 col-md-6 col-lg-6">
                <h3>Your habit pal needs your help!</h3>
                <h3>Completing your daily tasks keeps him healthy.</h3>
                <h3>When he's in tip top shape, you score points!</h3> 
                <h3>Use your points to collect eggs in our shop.</h3>
                <br><br>
                <h5>Created by:</h5>
                <h5>Jonathon Andrews</h5>
                <h5>Sean Angle</h5>
                <h5>Lu Bai</h5>
                <h5>Irving Donaldson</h5>
                <h5>Ben Prentice</h5>
            </div>
        </center>
        </bodg>