<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit pal!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="main-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('welcome') }}">Habit Pal!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">
              <img src=../static/button_images/home1.png width="100px" height="25px"
                onmouseover="this.src='../static/button_images/home2.png';"
                onmouseout="this.src='../static/button_images/home1.png';" />
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('myaccount') }}">
              <img src=../static/button_images/myaccount1.png width="100px" height="25px"
                onmouseover="this.src='../static/button_images/myaccount2.png';"
                onmouseout="this.src='../static/button_images/myaccount1.png';" />
            </a>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('store') }}">
              <img src=../static/button_images/shop1.png width="100px" height="25px"
                onmouseover="this.src='../static/button_images/shop2.png';"
                onmouseout="this.src='../static/button_images/shop1.png';" />
            </a>
          </li>
        </ul>
        <a href="{{ url_for('logout') }}" class="btn btn-dark">Sign Out</a>

      </div>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Habit Pal!</h1>
      <div class="pet-img-homepage">
        <img src="{{ image }}" width="50%">
      </div>
      <div class="app">
        <progress id="bar" style="width: 75%" style="height: 100px" value="{{ status }}" max="100">32%</progress>
        <style>
          #bar {
            color: red;
            height: 3rem;
          }
        </style>
        <h4>Health: {{ status }}%</h4>

        <button class="button" onClick="window.location.reload();">Feed Pet</button>

        <h1>To Do:</h1>

        <form>
          <input type="text" placeholder="New Task Here">
          <button type="submit">
            <img src=../static/button_images/add1.png height="42px" width="90px"
              onmouseover="this.src='../static/button_images/add2.png';"
              onmouseout="this.src='../static/button_images/add1.png';" />
          </button>
        </form>
        <ul id="task-ul"></ul>
      </div>
    </div>

  </div>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; HabitPal 2022</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='javascript/app.js') }}"></script>

</body>

</html>