<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Habit Pal P</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_store.css') }}" type="text/css">
</head>

<body>
    <!---POPUP FOR PURCHASE--->
    <div class="popup" id="popup">
        <img src="../static/404-tick.png">
        <h2>Purchase Complete!</h2>
        <p>Wonder which new friend you'll get!</p>
        <button type="button" onclick="closePopup()">CLOSE</button>
    </div>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" href="{{ url_for('home') }}">
            <img src=../static/button_images/logo.png width="75px" height="75px" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">
                        <img src=../static/button_images/home1.png width="150px" height="37.5px"
                            onmouseover="this.src='../static/button_images/home2.png';"
                            onmouseout="this.src='../static/button_images/home1.png';" />
                        <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('myaccount') }}">
                        <img src=../static/button_images/myaccount1.png width="150px" height="37.5px"
                            onmouseover="this.src='../static/button_images/myaccount2.png';"
                            onmouseout="this.src='../static/button_images/myaccount1.png';" />
                    </a>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('store') }}">
                        <img src=../static/button_images/shop1.png width="150px" height="37.5px"
                            onmouseover="this.src='../static/button_images/shop2.png';"
                            onmouseout="this.src='../static/button_images/shop1.png';" />
                    </a>

                </li>
            </ul>


        </div>
        <a href="{{ url_for('logout') }}" class="btn btn-dark">Sign Out</a>
    </nav>
    <!-- Header-->
    <header class="bg-light py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-dark">
                <h1 class="display-4 fw-bolder">Pet Egg Shop</h1>
                <p class="lead fw-normal text-dark-50 mb-0">Pick a new friend to bring home!!!</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg1.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Lit Egg</h5>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                    <button name="egg1" type="submit" class="btn btn-outline-dark mt-auto"
                                        onclick="openPopup()">Purchase</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg7.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Avocado Egg</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg7" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg9.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">CSGO T-SIDE Egg</h5>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg9" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg2.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Cloudy Egg</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                1000 points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name = "egg2" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg3.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Ice Cream Egg</h5>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg3" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg6.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Good Habits Egg</h5>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg6" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->

                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg5.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Void Egg</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg5" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg4.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">HP Egg</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg4" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg10.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">M4A4 Egg</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                1000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name = "egg10" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../static/egg8.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Random Legendary Egg</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                5000 Points
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="POST" action="{{ url_for('store') }}">
                                <button name="egg8" type="submit" class="btn btn-outline-dark mt-auto"
                                    onclick="openPopup()">Purchase</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <!-- Grid container -->
        <div class="container p-4 pb-0 text-center">
            <section class="text-center">
                <!-- Home -->
                <a class="btn btn-outline-light btn-floating m-1" style="background-color: #343a40"
                    href="{{ url_for('home') }}" role="button"><img src=../static/button_images/home3.png width="100px"
                        height="25px" onmouseover="this.src='../static/button_images/home4.png';"
                        onmouseout="this.src='../static/button_images/home3.png';" /></a>

                <!-- My Account -->
                <a class="btn btn-outline-light btn-floating m-1" style="background-color: #343a40"
                    href="{{ url_for('myaccount') }}" role="button"><img src=../static/button_images/myaccount3.png
                        width="100px" height="25px" onmouseover="this.src='../static/button_images/myaccount4.png';"
                        onmouseout="this.src='../static/button_images/myaccount3.png';" /></a>

                <!-- Shop -->
                <a class="btn btn-outline-light btn-floating m-1" style="background-color: #343a40"
                    href="{{ url_for('store') }}" role="button"><img src=../static/button_images/shop3.png width="100px"
                        height="25px" onmouseover="this.src='../static/button_images/shop4.png';"
                        onmouseout="this.src='../static/button_images/shop3.png';" /></a>

            </section>
        </div>
        <!-- Grid container -->

        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; HabitPal 2022</p>
        </div>
    </footer>
    <script>
        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup");
        }
        function closePopup() {
            popup.classList.remove("open-popup");
        }

    </script>
</body>

</html>